@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

@font-face {
 font-family: 'WF Visual Sans';
 src: url('https://dhygzobemt712.cloudfront.net/Fonts/VF/WFVisualSansVF.woff2') format('woff2');
 font-weight: 100 900;
 font-style: normal;
 font-display: swap;
}
/*  */


#root {
  font-family: "WF Visual Sans";
  padding: auto 12rem;
}
